<div class="d-flex justify-content-start w-100" style="min-height: 100vh">
    <div>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white h-100" id="menu">
            <p href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <i class="bi bi-fan ps-3 pe-3"></i>
                <span class="fs-4">Task Master</span>
            </p>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a [routerLink]="['/Components/tareas-pendientes']" id="op" class="nav-link" aria-current="page">
                        <i class="bi bi-house"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Components/tareas-pendientes']" class="nav-link" id="op">
                        <i class="bi bi-list-ol"></i>
                        Tareas Pendientes
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Components/tareas-completadas']" class="nav-link" id="op">
                        <i class="bi bi-list-check"></i>
                        Tareas Completadas
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Components/tareas']" class="nav-link " id="op">
                        <i class="bi bi-clipboard2-plus"></i>
                        Nueva Tarea
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Components/frases-guardadas']" class="nav-link " id="op">
                        <i class="bi bi-folder"></i>
                        Frases Guardadas
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Components/configuracion']" class="nav-link " id="op">
                        <i class="bi bi-gear"></i>
                        Configuración
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#"
                    class="d-flex align-items-center justify-content-evenly text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" id="op">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{this.userData.Alias}}</strong>
                </a>
                <ul class="dropdown-menu shadow" id="options" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" [routerLink]="['/Components/tareas']">Nueva Tarea</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/Components/configuracion']">Configuración</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" (click)="logOut()">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 pt-4">
        <div>
            <div class="d-flex justify-content-evenly">
                <div class="col-7" style="text-align: center; font-size: 20px;">
                    <div id="frase" class="d-flex justify-content-evenly">
                        <div class="ps-2 text-start pb-3 pt-2" style="width: 30rem;">
                            <h5 class="text-start">Frase Del Día</h5>
                            <p>{{this.FraseDelDia.contents.quotes[0].quote}}</p>
                            <div class="d-flex justify-content-end">Autor:
                                {{this.FraseDelDia.contents.quotes[0].author}}</div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <i id="save" title="Guardar" class="bi bi-save-fill" data-bs-toggle="modal"
                                data-bs-target="#editar"></i>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" id="editar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Guardar Frase</h5>
                            </div>
                            <div class="modal-body d-flex justify-content-center">
                                <form [formGroup]="fFrase">
                                    <div>
                                        <h6>¿Que te parecio interesante de esta frase? <b
                                                class="text-danger">(Opcional)</b></h6>
                                        <div class="form-floating mt-4">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"
                                                formControlName="Motivo"></textarea>
                                            <label for="floatingTextarea2">Opinión</label>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3 justify-content-end">
                                        <button class="btn btn-outline-warning"
                                            (click)="saveFrase(this.FraseDelDia.contents.quotes[0].quote)"
                                            data-bs-dismiss="modal">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div id="frase">
                        <div class="d-flex justify-content-evenly">
                            <div>
                                <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png">
                            </div>
                            <div>
                                <div class="d-flex flex-column justify-content-start">
                                    <div id="clima">Temperature: {{this.weather.main.feels_like}}°C</div>
                                    <div class="d-flex justify-content-between">
                                        <div id="clima">Min: {{this.weather.main.temp_min}}°C</div>
                                        <div id="clima" class="ms-4">Max: {{this.weather.main.temp_max}}°C</div>
                                    </div>
                                    <div id="clima">Humidity: {{this.weather.main.humidity}}%</div>
                                    <div id="clima">Zone: {{this.weather.name}}</div>
                                    <div id="clima" class="d-flex justify-content-between">
                                        <div>Weather: {{this.weather.weather[0].description.toUpperCase()}}</div>
                                        <div id="reload" (click)="obtenerClima(1)"><i title="Actualizar"
                                                class="bi bi-arrow-counterclockwise p-0"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 ms-2 me-2 p-4 border-top border-secondary border-4 rounded-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>