#card {
    background-color: rgb(176, 255, 166);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    /* height: 13rem; */
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h6 {
    font-size: 14px;
}

#check {
    font-size: 22px;
    color: rgb(37, 173, 37);
}

#check:hover {
    cursor: pointer;
    color: rgb(13, 88, 8);
}

#nothing {
    height: 150px;
    width: 150px;
}

#tareas {
    height: 25rem;
}

#homework {
    border-right: 3px solid gray;
    background-color: rgb(176, 255, 166);
    width: 100%;
    margin-right: 0.5rem;
    box-shadow: 4px 4px 4px rgba(9, 0, 59, 0.6);
    margin-bottom: 0.6rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 680px) {
    #normal {
        display: none;
    }
}
@media (min-width: 680px) {
    #resolution {
        display: none;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */