#card {
    background-color: rgb(245, 245, 245);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#card:hover {
    box-shadow: 4px 4px #c9d3ff;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#check {
    font-size: 22px;
    color: rgb(172, 1, 1);
}

#check:hover {
    cursor: pointer;
    color: rgb(208, 0, 0);
}

#tareas {
    height: 25rem;
}

#homework {
    border-right: 3px solid gray;
    background-color: rgb(244, 244, 244);
    width: 100%;
    margin-right: 0.5rem;
    box-shadow: 4px 4px 4px rgba(9, 0, 59, 0.6);
    margin-bottom: 0.5rem;
}

#doneArrow {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 680px) {
    #normal {
        display: none;
    }
}
@media (min-width: 680px) {
    #resolution {
        display: none;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */